<h1>Login</h1>
<% if @error %>
<p class="alert-danger"><%= @error %></p>
<% end %>
<%= simple_form_for(:session, url: sessions_path) do |l| %>
<%= l.input :email %>
<%= l.input :password %>
<%= l.button :submit, 'Login!' %>
<% end %>
