<%= render template: new_post_path %>

<% if @posts %>
<% @posts.each do |post| %>
<div class="posts">
	<%= post.message %>
	<div class="add_message">
		<%= simple_form_for @comment do |f| %>
		<%= f.input :post, as: :hidden, input_html: { value: post.id } %>
			<%= f.input :message %>
			<%= f.button :submit %>
		<% end %>
	</div>
</div>
<% end %>
<% end %>
